<h1><b>Window Functions</b></h1>

In [0]:
%sql
DROP TABLE IF EXISTS ExamResult;
CREATE TABLE ExamResult
(StudentName VARCHAR(70), 
 Subject     VARCHAR(20), 
 Marks       INT
);
INSERT INTO ExamResult VALUES('Lily',  'Maths',  65);
INSERT INTO ExamResult VALUES('Lily','Science',80);
INSERT INTO ExamResult VALUES('Lily','english',70);
INSERT INTO ExamResult VALUES('Isabella','Maths',50);
INSERT INTO ExamResult VALUES('Isabella','Science',70);
INSERT INTO ExamResult VALUES('Isabella','english',90);
INSERT INTO ExamResult VALUES('Olivia','Maths',55);
INSERT INTO ExamResult VALUES('Olivia','Science',60);
INSERT INTO ExamResult VALUES('Olivia','english',89);

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
select * from ExamResult

StudentName,Subject,Marks
Isabella,Science,70
Isabella,english,90
Isabella,Maths,50
Olivia,Science,60
Olivia,english,89
Lily,Science,80
Lily,english,70
Olivia,Maths,55
Lily,Maths,65

<h2><b> Aggregate</b></h2>

<h3><b>AVG()</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    AVG(Marks) OVER ( PARTITION BY Subject ) AS GROUP_AVG,
    AVG(Marks) OVER ( PARTITION BY Subject order by Marks) AS running_GROUP_AVG
FROM
    ExamResult ORDER BY Subject;

StudentName,Subject,Marks,GROUP_AVG,running_GROUP_AVG
Isabella,Maths,50,56.666666666666664,50.0
Olivia,Maths,55,56.666666666666664,52.5
Lily,Maths,65,56.666666666666664,56.666666666666664
Olivia,Science,60,70.0,60.0
Isabella,Science,70,70.0,65.0
Lily,Science,80,70.0,70.0
Lily,english,70,83.0,70.0
Olivia,english,89,83.0,79.5
Isabella,english,90,83.0,83.0

<h3><b>MAX()</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    MAX(Marks) OVER ( PARTITION BY Subject  ) AS GROUP_MAX,
    MAX(Marks) OVER ( PARTITION BY Subject ORDER BY Marks  ) AS running_GROUP_MAX
FROM
    ExamResult ORDER BY Subject;

StudentName,Subject,Marks,GROUP_MAX,running_GROUP_MAX
Isabella,Maths,50,65,50
Olivia,Maths,55,65,55
Lily,Maths,65,65,65
Olivia,Science,60,80,60
Isabella,Science,70,80,70
Lily,Science,80,80,80
Lily,english,70,90,70
Olivia,english,89,90,89
Isabella,english,90,90,90

<h3><b>MIN()</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    MIN(Marks) OVER ( PARTITION BY Subject ) AS GROUP_MIN,
    MIN(Marks) OVER ( PARTITION BY Subject ORDER BY Marks) AS running_GROUP_MIN
FROM
    ExamResult ORDER BY Subject;

StudentName,Subject,Marks,GROUP_MIN,running_GROUP_MIN
Isabella,Maths,50,50,50
Olivia,Maths,55,50,50
Lily,Maths,65,50,50
Olivia,Science,60,60,60
Isabella,Science,70,60,60
Lily,Science,80,60,60
Lily,english,70,70,70
Olivia,english,89,70,70
Isabella,english,90,70,70

<h3><b>SUM()</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    SUM(Marks) OVER ( PARTITION BY Subject ) AS GROUP_SUM,
    SUM(Marks) OVER ( PARTITION BY Subject ORDER BY Marks) AS RUNNING_GROUP_SUM
FROM
    ExamResult ORDER BY Subject;

StudentName,Subject,Marks,GROUP_SUM,RUNNING_GROUP_SUM
Isabella,Maths,50,170,50
Olivia,Maths,55,170,105
Lily,Maths,65,170,170
Olivia,Science,60,210,60
Isabella,Science,70,210,130
Lily,Science,80,210,210
Lily,english,70,249,70
Olivia,english,89,249,159
Isabella,english,90,249,249

<h3><b>COUNT()</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    COUNT(Marks) OVER ( PARTITION BY Subject ) AS GROUP_COUNT,
    COUNT(Marks) OVER ( PARTITION BY Subject ORDER BY MARKS) AS RUNNING_GROUP_COUNT
FROM
    ExamResult ORDER BY Subject;

StudentName,Subject,Marks,GROUP_COUNT,RUNNING_GROUP_COUNT
Isabella,Maths,50,3,1
Olivia,Maths,55,3,2
Lily,Maths,65,3,3
Olivia,Science,60,3,1
Isabella,Science,70,3,2
Lily,Science,80,3,3
Lily,english,70,3,1
Olivia,english,89,3,2
Isabella,english,90,3,3

<h2><b>RANKING</b></h2>

<h3><b>ROW_NUMBER</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    row_number() OVER (  ORDER BY MARKS) AS ROW_NUMBER,
    row_number() OVER ( PARTITION BY Subject ORDER BY MARKS) AS ROW_GROUP_NUMBER
FROM
    ExamResult ORDER BY MARKS;

StudentName,Subject,Marks,ROW_NUMBER,ROW_GROUP_NUMBER
Isabella,Maths,50,1,1
Olivia,Maths,55,2,2
Olivia,Science,60,3,1
Lily,Maths,65,4,3
Isabella,Science,70,5,2
Lily,english,70,6,1
Lily,Science,80,7,3
Olivia,english,89,8,2
Isabella,english,90,9,3

<h3><b>RANK</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    RANK() OVER (  ORDER BY MARKS) AS RANK,
    RANK() OVER ( PARTITION BY Subject ORDER BY MARKS) AS RANK_GROUP
FROM
    ExamResult ORDER BY MARKS;

StudentName,Subject,Marks,RANK,RANK_GROUP
Isabella,Maths,50,1,1
Olivia,Maths,55,2,2
Olivia,Science,60,3,1
Lily,Maths,65,4,3
Isabella,Science,70,5,2
Lily,english,70,5,1
Lily,Science,80,7,3
Olivia,english,89,8,2
Isabella,english,90,9,3

<h3><b>DESNSE_RANK</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    dense_rank() OVER (  ORDER BY MARKS) AS DENSE_RANK,
    dense_rank() OVER ( PARTITION BY Subject ORDER BY MARKS) AS DENSE_RANK_GROUP
FROM
    ExamResult ORDER BY MARKS;

StudentName,Subject,Marks,DENSE_RANK,DENSE_RANK_GROUP
Isabella,Maths,50,1,1
Olivia,Maths,55,2,2
Olivia,Science,60,3,1
Lily,Maths,65,4,3
Isabella,Science,70,5,2
Lily,english,70,5,1
Lily,Science,80,6,3
Olivia,english,89,7,2
Isabella,english,90,8,3

<h3><b>PERCENT_RANK</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    PERCENT_RANK() OVER (  ORDER BY MARKS) AS PERCENT_RANK,
    PERCENT_RANK() OVER ( PARTITION BY Subject ORDER BY MARKS) AS PERCENT_RANK_GROUP
FROM
    ExamResult ORDER BY MARKS;

StudentName,Subject,Marks,PERCENT_RANK,PERCENT_RANK_GROUP
Isabella,Maths,50,0.0,0.0
Olivia,Maths,55,0.125,0.5
Olivia,Science,60,0.25,0.0
Lily,Maths,65,0.375,1.0
Isabella,Science,70,0.5,0.5
Lily,english,70,0.5,0.0
Lily,Science,80,0.75,1.0
Olivia,english,89,0.875,0.5
Isabella,english,90,1.0,1.0

<h3><b>NTILE</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    NTILE(4) OVER (  ORDER BY MARKS) AS NTILE,
    NTILE(2) OVER ( PARTITION BY Subject ORDER BY MARKS) AS NTILE_GROUP
FROM
    ExamResult ORDER BY MARKS;

StudentName,Subject,Marks,NTILE,NTILE_GROUP
Isabella,Maths,50,1,1
Olivia,Maths,55,1,1
Olivia,Science,60,1,1
Lily,Maths,65,2,2
Isabella,Science,70,2,1
Lily,english,70,3,1
Lily,Science,80,3,2
Olivia,english,89,4,1
Isabella,english,90,4,2

<h2><b>VALUE</b></h2>

<h3><b>LAG</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    LAG(MARKS,1,0) OVER (  ORDER BY MARKS) AS LAG,
    LAG(MARKS,1,0) OVER ( PARTITION BY Subject ORDER BY MARKS) AS LAG_GROUP
FROM
    ExamResult ORDER BY MARKS;

StudentName,Subject,Marks,LAG,LAG_GROUP
Isabella,Maths,50,0,0
Olivia,Maths,55,50,50
Olivia,Science,60,55,0
Lily,Maths,65,60,55
Isabella,Science,70,65,60
Lily,english,70,70,0
Lily,Science,80,70,70
Olivia,english,89,80,70
Isabella,english,90,89,89

<h3><b>LEAD</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    LEAD(MARKS,1,0) OVER (  ORDER BY MARKS) AS LEAD,
    LEAD(MARKS,1,0) OVER ( PARTITION BY Subject ORDER BY MARKS) AS LEAD_GROUP
FROM
    ExamResult ORDER BY MARKS;

StudentName,Subject,Marks,LEAD,LEAD_GROUP
Isabella,Maths,50,55,55
Olivia,Maths,55,60,65
Olivia,Science,60,65,70
Lily,Maths,65,70,0
Isabella,Science,70,70,80
Lily,english,70,80,89
Lily,Science,80,89,0
Olivia,english,89,90,90
Isabella,english,90,0,0

<h3><b>FIRST_VALUE</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    FIRST_VALUE(MARKS) OVER (  ORDER BY MARKS) AS FIRST_VALUE,
    FIRST_VALUE(MARKS) OVER ( PARTITION BY Subject ORDER BY MARKS) AS FIRST_VALUE_GROUP
FROM
    ExamResult ORDER BY Subject;

StudentName,Subject,Marks,FIRST_VALUE,FIRST_VALUE_GROUP
Isabella,Maths,50,50,50
Olivia,Maths,55,50,50
Lily,Maths,65,50,50
Olivia,Science,60,50,60
Isabella,Science,70,50,60
Lily,Science,80,50,60
Lily,english,70,50,70
Olivia,english,89,50,70
Isabella,english,90,50,70

<h3><b>LAST_VALUE</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    LAST_VALUE(MARKS) OVER ( ORDER BY MARKS) AS LAST_VALUE,
    LAST_VALUE(MARKS) OVER ( PARTITION BY Subject ORDER BY MARKS) AS LAST_VALUE_GROUP
FROM
    ExamResult ORDER BY Subject;

StudentName,Subject,Marks,LAST_VALUE,LAST_VALUE_GROUP
Isabella,Maths,50,50,50
Olivia,Maths,55,55,55
Lily,Maths,65,65,65
Olivia,Science,60,60,60
Isabella,Science,70,70,70
Lily,Science,80,80,80
Lily,english,70,70,70
Olivia,english,89,89,89
Isabella,english,90,90,90

<h3><b>NTH_VALUE</b></h3>

In [0]:
%sql
SELECT StudentName,Subject,Marks,
    NTH_VALUE(MARKS,3) OVER (  ORDER BY MARKS) AS NTH_VALUE,
    NTH_VALUE(MARKS,2) OVER ( PARTITION BY Subject ORDER BY MARKS) AS NTH_VALUE_GROUP
FROM
    ExamResult ORDER BY Subject;

StudentName,Subject,Marks,NTH_VALUE,NTH_VALUE_GROUP
Isabella,Maths,50,null,null
Olivia,Maths,55,null,55
Lily,Maths,65,60,55
Olivia,Science,60,60,null
Isabella,Science,70,60,70
Lily,Science,80,60,70
Lily,english,70,60,null
Olivia,english,89,60,89
Isabella,english,90,60,89