In [0]:
from pyspark.sql import functions as F

<h2> The PADS Hacker Rank </h2>

In [0]:
data=[("Ashley","Professor"),("Samantha","Actor"),("Julia","Doctor"),("Britney","Professor"),("Maria","Professor"),("Meera","Professor"),("Priya","Doctor"),("Priyanka","Professor"),("Jennifer","Actor"),("Ketty","Actor"),("Belvet","Professor"),("Naomi","Professor"),("Jane","Singer"),("Jenny","Singer"),("Kristeen","Singer"),("Christeen","Singer"),("Eve","Actor"),("Aamina","Doctor")]
schema =["Name","Occupation"]
df=spark.createDataFrame(data,schema)
df.show()

+---------+----------+
|     Name|Occupation|
+---------+----------+
|   Ashley| Professor|
| Samantha|     Actor|
|    Julia|    Doctor|
|  Britney| Professor|
|    Maria| Professor|
|    Meera| Professor|
|    Priya|    Doctor|
| Priyanka| Professor|
| Jennifer|     Actor|
|    Ketty|     Actor|
|   Belvet| Professor|
|    Naomi| Professor|
|     Jane|    Singer|
|    Jenny|    Singer|
| Kristeen|    Singer|
|Christeen|    Singer|
|      Eve|     Actor|
|   Aamina|    Doctor|
+---------+----------+

<h3> 1. PySpark code to alphabetically ordered list of all names in OCCUPATIONS, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S) </h3>

In [0]:
df.withColumn("Name",
    F.concat(F.col("Name"), F.lit("("), F.substring(F.col("Occupation"), 1, 1),F.lit(")")))\
        .orderBy("Name").select("Name").show()

+------------+
|        Name|
+------------+
|   Aamina(D)|
|   Ashley(P)|
|   Belvet(P)|
|  Britney(P)|
|Christeen(S)|
|      Eve(A)|
|     Jane(S)|
| Jennifer(A)|
|    Jenny(S)|
|    Julia(D)|
|    Ketty(A)|
| Kristeen(S)|
|    Maria(P)|
|    Meera(P)|
|    Naomi(P)|
|    Priya(D)|
| Priyanka(P)|
| Samantha(A)|
+------------+

<h3> 2. PySpark code, the number of ocurrences of each occupation in OCCUPATIONS. Sort the occurrences in ascending order </h3>

In [0]:
df.groupBy("occupation").agg(
    F.count("occupation").alias("count")
).withColumn("totals",
    F.concat(F.lit("There are a total of "), F.col("count"), F.lit(" "), F.lower(F.col("occupation")), F.lit( "s."))
).orderBy("totals").select("totals").show(truncate =False)

+----------------------------------+
|totals                            |
+----------------------------------+
|There are a total of 3 doctors.   |
|There are a total of 4 actors.    |
|There are a total of 4 singers.   |
|There are a total of 7 professors.|
+----------------------------------+